<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-lg-6 order-2 order-lg-1">
      <div class="timeline-bg-content bg-img" data-bg="../assets/images/timeline/adda-timeline.jpg">
        <h3 class="timeline-bg-title">Let’s see what’s happening to you and your world.
          Welcome in Adda.</h3>
      </div>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center justify-content-center">
      <div class="signup-form-wrapper">
        <h1 class="create-acc text-center">Login form</h1>
        <div class="signup-inner text-center">
          <h3 class="title">Welcome</h3>

          {{#if error}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{error}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {{/if}}

          <form class="signup-inner--form" method="post">
            <div class="row">
              <div class="col-12">
                <input type="email" class="single-field" placeholder="Email" name="email" required>
              </div>
              <div class="col-12">
                <input type="password" class="single-field" placeholder="Password" name="password" required>
              </div>
              <div class="col-12">
                <button type="submit" class="submit-btn">LOGIN</button>
              </div>
            </div>
            {{!-- <h6 class="terms-condition">I have read & accepted the <a href="#">terms
                                of use</a></h6> --}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>